name: Generate dependency graph for tower-agent
on:
  pull_request:


permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Graalvm
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '21'
        distribution: 'graalvm-community'
        native-image-musl: 'true'


    - name: Generate and submit dependency graph for tower-agent
      uses: gradle/actions/dependency-submission@v4
      with:
        dependency-resolution-task: "dependencies"
        additional-arguments: "--configuration runtimeClasspath"
        dependency-graph: generate-and-submit
